
<%- include('./partial/header') %>

    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4>Contact List</h4>
        </div>

        <div class="card-body">

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <% if (contacts && contacts.length> 0) { %>

                        <% contacts.forEach((contact, index)=> { %>

                            <tr>
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td>
                                    <%= contact.name %>
                                </td>
                                <td>
                                    <%= contact.email %>
                                </td>
                                <td>
                                    <%= contact.phone %>
                                </td>

                                <td>
                                    <a href="/update-contact/<%= contact._id %>" class="btn btn-warning btn-sm">
                                        Edit
                                    </a>
                                     <a href="/show-contact/<%= contact._id %>" class="btn btn-success btn-sm">
                                        Show
                                    </a>

                                    <a href="/delete-contact/<%= contact._id %>" class="btn btn-danger btn-sm">
                                        Delete
                                    </a>
                                </td>
                            </tr>

                            <% }) %>

                                <% } else { %>

                                    <tr>
                                        <td colspan="5" class="text-center">
                                            No contacts found. Please add some contacts.
                                        </td>
                                    </tr>

                                    <% } %>


                </tbody>
            </table>

        </div>
    </div>

    <%- include('./partial/footer') %>
    