
    <%- include('header') %>

        <h1>Name : <%= name %>
        </h1>
        <h1>Age : <%= age %>
        </h1>
        <h1>Hobbies :</h1>
        <ul>
            <% hobbies.forEach(function(hobby) { %>
                <li>
                    <%= hobby %>
                </li>
                <% }); %>
        </ul>
        <%- include('footer') %>